Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "[.](svg|drawio.xml)$"
      - id: check-yaml
        # Helm templates are not reaaaally YAML.
        exclude: "[/]templates[/]"
        args:
          # Needed by mkdocs.yaml
          # Implies --allow-multiple-documents
          - "--unsafe"
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml|.*\.min\.js)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        exclude: ^(user-demo/|docs/customer-quotes/|docs/tech-radar/)

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^.github/
        args:
          - --fix

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        exclude: /templates/|\.min\.|\.css$|\.html$|\.js$|\.md$|\.scss$|docs/img/|user-demo/|user-demo-dotnet/

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: ".*[.]svg$"
      - id: svg-must-not-embed-PNG
        name: SVGs must NOT embed PNGs
        entry: 'image[^>]* xlink:href="data:image/png'
        language: pygrep
        files: ".*[.]svg$"
        # We'll deal with these later.
        exclude: '(\.drawio|ideal-dx|ideal-promotion)\.svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: "^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )"
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-non-descriptive-link-text
        name: Avoid non-descriptive link text (see https://developers.google.com/search/docs/crawling-indexing/links-crawlable#write-good-anchor-text)
        entry: "(?i)<a[^>]*>(read more|click here|learn more)</a>"
        language: pygrep
        files: ".*[.]md$"

Add CODEOWNERS
  CODEOWNERS
Due: none

Add CODEOWNERS (#924)
  CODEOWNERS
Due: none

Unify linkchecker config files (#923)
  .github/workflows/checklinks.yml
  linkchecker-with-anchorcheck.conf
  linkchecker.conf
Due: none

Revert "New design as per new brand book"
  docs/img/marchitecture.svg
Due: svg-must-embed, svg-must-not-embed-PNG

Revert "New design as per new brand book" (#925)
  docs/img/marchitecture.svg
Due: svg-must-embed, svg-must-not-embed-PNG

Crop to content the marchitecture
  docs/img/marchitecture.svg
Due: svg-must-embed, svg-must-not-embed-PNG

Remove old compliance_basics figures
  docs/img/compliance-basics.dot
  docs/img/compliance-basics.png
  docs/img/compliance-basics.svg
Due: svg-must-embed, svg-must-not-embed-PNG

Use new compliance image in CISO/DPO Overview
  docs/ciso-guide/index.md
  docs/img/compliance.svg
Due: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Improve ciso overview (#926)
  docs/ciso-guide/index.md
  docs/img/compliance-basics.dot
  docs/img/compliance-basics.png
  docs/img/compliance-basics.svg
  docs/img/compliance.svg
  docs/img/marchitecture.svg
Due: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update nist-sp-800-171.md
  docs/ciso-guide/controls/nist-sp-800-171.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update docs/ciso-guide/controls/nist-sp-800-171.md
  docs/ciso-guide/controls/nist-sp-800-171.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update nist-sp-800-171.md (#928)
  docs/ciso-guide/controls/nist-sp-800-171.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: adjusting some pages
  .github/pull_request_template.md
  docs/operator-manual/common.md
  docs/operator-manual/getting-started.md
  docs/operator-manual/index.md
  docs/operator-manual/on-prem-standard.md
  docs/user-guide/additional-services/argocd.md
  docs/user-guide/additional-services/index.md
  docs/user-guide/additional-services/postgresql.md
  docs/user-guide/additional-services/rabbitmq.md
  docs/user-guide/self-managed-services/_common-crds.include
  docs/user-guide/self-managed-services/ferretdb.md
  docs/user-guide/self-managed-services/flux.md
  docs/user-guide/self-managed-services/jupyterhub.md
  docs/user-guide/self-managed-services/kafka.md
  docs/user-guide/self-managed-services/mongodb.md
  docs/user-guide/self-managed-services/sealedsecrets.md
  docs/user-guide/self-managed-services/sjunet.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

release: capi v0.2.0
  docs/release-notes/capi.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add words from feedback
  docs/user-guide/self-managed-services/flux.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: Add release notes for v2.24.1-ck8s1 and v2.24.1-ck8s2
  docs/release-notes/kubespray.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add how to index unindexed opensearch fields
  docs/user-guide/logs.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: fix some words
  docs/user-guide/logs.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update metrics.md
  docs/user-guide/metrics.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update alerts.md
  docs/user-guide/alerts.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: update with new k8s-installer variable
  CONTRIBUTING.md
  docs/operator-manual/common.md
  docs/operator-manual/on-prem-standard.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: clarify use of clock synchronization
  docs/operator-manual/clock-synchronization.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update docs/operator-manual/clock-synchronization.md
  docs/operator-manual/clock-synchronization.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: Add release notes for v2.24.1-ck8s1 and v2.24.1-ck8s2 (#932)
  docs/release-notes/kubespray.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add release notes for kubespray v2.25.0-ck8s1
  docs/release-notes/kubespray.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add refresh opensearch fields for querying
  docs/user-guide/logs.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: added release notes for apps v0.39.1
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

release: Added release notes for kubespray patches
  docs/release-notes/kubespray.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

qa: Remove inera.atlassian.net due to AnchorCheck
  linkchecker.conf
Due: none

Make code more readable
  docs/stylesheets/branding.css
Due: none
