Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

svg-must-embed:
  name: SVGs must embed all images
  entry: image[^>]* xlink:href="https
  language: pygrep

svg-must-not-embed-PNG:
  name: SVGs must NOT embed PNGs
  entry: image[^>]* xlink:href="data:image/png
  language: pygrep

use-relative-urls:
  name: Use relative URLs for internal links
  entry: \[[^\]]*\][(][/].*[)]
  language: pygrep

use-relative-urls-to-files:
  name: Internal links should point to files
  entry: \[[^\]]*\][(][^#][.\/]*[^.:]*[)]
  language: pygrep

capitalize-common-names:
  name: Please capitalize common names
  entry: ^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )
  language: pygrep

avoid-absolute-urls-for-internal-links:
  name: Avoid absolute URLs (https://elastisys.io) for internal links
  entry: \/\/(elastisys.io)\/
  language: pygrep

avoid-old-urls:
  name: Avoid old URLs (https://compliantkubernetes.io)
  entry: compliantkubernetes.io(?!\/nobackup)
  language: pygrep

avoid-non-descriptive-link-text:
  name: Avoid non-descriptive link text (see https://developers.google.com/search/docs/crawling-indexing/links-crawlable#write-good-anchor-text)
  entry: (?i)<a[^>]*>(read more|click here|learn more)</a>
  language: pygrep

Fix broken Keycloak link
  docs/user-guide/self-managed-services/keycloak.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add apps v0.41.0 release notes
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: fix some wording
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update links to disaster recovery instructions in Apps
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: update velero dr instructions
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

redis: added v7.2.5-ck8s1 release notes
  docs/release-notes/redis.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

redis: added v7.2.5-ck8s1 release notes (#974)
  docs/release-notes/redis.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Fix URL
  docs/ciso-guide/backup.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add capi autoscaling warning
  docs/user-guide/cluster-api.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr-0036: Add as benefit the use of externalTrafficPolicy=local
  docs/adr/0036-run-ingress-nginx-as-daemonset.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: fix argocd links
  docs/user-guide/additional-services/argocd.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Describe WaitForFirstConsumer restore procedure
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add a banner about ck8s change to welkin
  docs/stylesheets/extra.css
  overrides/main.html
Due: none

Fix URL to ToS after rebranding
  docs/user-guide/prepare.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update all requirements
  requirements.txt
Due: none

Welkin in logos
  docs/img/android-chrome-192x192.png
  docs/img/android-chrome-512x512.png
  docs/img/apple-touch-icon.png
  docs/img/browserconfig.xml
  docs/img/favicon-16x16.png
  docs/img/favicon-32x32.png
  docs/img/favicon-96x96.png
  docs/img/favicon.ico
  docs/img/favicon.svg
  docs/img/logos/Welkin-logo_icon_green.svg
  docs/img/site.webmanifest
  docs/img/web-app-manifest-192x192.png
  docs/img/web-app-manifest-512x512.png
  mkdocs.yml
  overrides/main.html
Due: svg-must-embed, svg-must-not-embed-PNG

Welkin in Level 1 arch
  docs/img/welkin-c4model-level1.drawio.svg
Due: svg-must-embed

More Welkin in content
  docs/ciso-guide/backup.md
  docs/ciso-guide/capacity-management.md
  docs/ciso-guide/gdpr-art-17.md
  docs/ciso-guide/intrusion-detection.md
  docs/ciso-guide/log-review.md
  docs/ciso-guide/network-security.md
  docs/mission-and-vision.md
  docs/operator-manual/troubleshooting.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Remove old logo
  docs/img/logo.png
Due: none

Path conditions:
  svg-must-embed: any of: .*[.]svg$
  svg-must-not-embed-PNG: any of: .*[.]svg$, but not: (\.drawio|ideal-dx|ideal-promotion)\.svg$
  use-relative-urls: any of: .*[.]md$
  use-relative-urls-to-files: any of: .*[.]md$
  capitalize-common-names: any of: .*[.]md$
  avoid-absolute-urls-for-internal-links: any of: .*[.]md$
  avoid-old-urls: any of: .*[.]md$
  avoid-non-descriptive-link-text: any of: .*[.]md$
