Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '[.](svg|drawio.xml)$'
      - id: check-yaml
        exclude: '[/](templates[/]|oauth2-proxy.yaml)'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml)$

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: '.*[.]svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: ' (git[Hh]ub|kubernetes|trivy|starboard)( |, |[.] )'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: '.*[.]md$'

Shrink marketecture on desktop
  docs/index.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Increase margins
  extra_sass/style.css.scss
Due: none

Change to 'proud member'
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Enforce capitalization of Compliant Kubernetes
  .pre-commit-config.yaml
  docs/adr/0042-argocd-dynamic-hnc-namespaces.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Ignore capitalization in code
  .pre-commit-config.yaml
Due: none

Enforce not using ck8s in text
  .pre-commit-config.yaml
  docs/adr/0034-how-to-run-multiple-ams-packages-of-the-same-type.md
  docs/contributor-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Minor capitalization fix
  docs/contributor-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Enforce capitalization of Compliant Kubernetes (#668)
  .pre-commit-config.yaml
  docs/adr/0034-how-to-run-multiple-ams-packages-of-the-same-type.md
  docs/adr/0042-argocd-dynamic-hnc-namespaces.md
  docs/contributor-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add more trademark notices (#667)
  mkdocs.yml
Due: none

Pre-commit fixes
  .pre-commit-config.yaml
  docs/customer-quotes/bootstrap.bundle.min.js
  docs/customer-quotes/bootstrap.min.css
  docs/customer-quotes/branding.css
  docs/index.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

pre-commit: SVGs must NOT embed PNGs
  .pre-commit-config.yaml
  docs/img/watch-demos.svg
Due: svg-must-embed

Add new marchitecture
  docs/img/marchitecture.drawio.svg
  docs/img/marchitecture.svg
  docs/index.md
  extra_sass/style.css.scss
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Landing page redesign (#670)
  .pre-commit-config.yaml
  docs/customer-quotes/bootstrap.bundle.min.js
  docs/customer-quotes/bootstrap.min.css
  docs/customer-quotes/branding.css
  docs/customer-quotes/index.html
  docs/img/logos/certified-kubernetes-color.svg
  docs/img/logos/cncf-member-silver-color.svg
  docs/img/logos/kubernetes-kcsp-color.svg
  docs/img/logos/orgs/carasent.png
  docs/img/logos/orgs/elsa.svg
  docs/img/logos/orgs/goozo.png
  docs/img/logos/orgs/tempus.png
  docs/img/logos/orgs/vivium.png
  docs/img/marchitecture.drawio.svg
  docs/img/marchitecture.svg
  docs/img/watch-demos.svg
  docs/index.md
  docs/stylesheets/extra.css
  extra_sass/style.css.scss
  mkdocs.yml
  requirements.txt
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix link
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Improve admin landing page
  docs/index.md
  docs/operator-manual/index.md
  docs/operator-manual/on-prem-standard.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix mobile view
  extra_sass/style.css.scss
Due: none

Improve admin landing page (#671)
  docs/index.md
  docs/operator-manual/index.md
  docs/operator-manual/on-prem-standard.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fixed improve statement issue (#675)
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix whitespace in marchitecture
  docs/img/marchitecture.svg
Due: svg-must-embed

Bring back the left navbar
  docs/index.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Remove OPENSSL workaround
  .github/workflows/checklinks.yml
  openssl.cnf
Due: none

Update CI/CD documentation
  docs/user-guide/additional-services/argocd.md
  docs/user-guide/ci-cd.md
  docs/user-guide/operate.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Remove a few mkdocs warnings
  docs/release-notes.md
  docs/watch-demos.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix whitespace in marchitecture (#677)
  docs/img/marchitecture.svg
Due: svg-must-embed

docs: initialize the jupyterhub and add the first section
  docs/user-guide/self-managed-services/jupyterhub.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: add links for Further reading
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: add the structure of the page
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: provided sample values.yaml and deployment instructions in jupyterhub docs
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: Fixed minor issues
  docs/user-guide/self-managed-services/img/jupyter.gif
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: added limitations section
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: fix pre-commit tests
  docs/user-guide/self-managed-services/jupyterhub.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Avoid some redirects
  docs/adr/0002-use-kubespray-for-cluster-lifecycle.md
  docs/adr/0007-make-monitoring-forwarders-storage-independent.md
  docs/adr/0008-use-hostnetwork-or-loadbalancer-for-ingress.md
  docs/adr/0011-let-upstream-projects-handle-crds.md
  docs/adr/0013-configure-alerts-in-omt.md
  docs/adr/0021-tls-for-additional-services.md
  docs/ciso-guide/faq.md
  docs/index.md
  docs/operator-manual/clock-synchronization.md
  docs/operator-manual/getting-started.md
  docs/operator-manual/ingress.md
  docs/operator-manual/maintenance.md
  docs/operator-manual/troubleshooting.md
  docs/user-guide/additional-services/redis.md
  docs/user-guide/delegation.md
  docs/user-guide/demarcation.md
  docs/user-guide/faq.md
  docs/user-guide/metrics.md
  docs/user-guide/prepare.md
  mkdocs-ciso-controls/ciso_controls/__init__.py
  mkdocs-ciso-controls/setup.py
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Clarify that push-style refers to external CI/CD
  docs/user-guide/ci-cd.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Remove Flux disclaimers
  docs/user-guide/ci-cd.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Avoid some redirects (#683)
  docs/adr/0002-use-kubespray-for-cluster-lifecycle.md
  docs/adr/0007-make-monitoring-forwarders-storage-independent.md
  docs/adr/0008-use-hostnetwork-or-loadbalancer-for-ingress.md
  docs/adr/0011-let-upstream-projects-handle-crds.md
  docs/adr/0013-configure-alerts-in-omt.md
  docs/adr/0021-tls-for-additional-services.md
  docs/ciso-guide/faq.md
  docs/index.md
  docs/operator-manual/clock-synchronization.md
  docs/operator-manual/getting-started.md
  docs/operator-manual/ingress.md
  docs/operator-manual/maintenance.md
  docs/operator-manual/troubleshooting.md
  docs/user-guide/additional-services/redis.md
  docs/user-guide/delegation.md
  docs/user-guide/demarcation.md
  docs/user-guide/faq.md
  docs/user-guide/metrics.md
  docs/user-guide/prepare.md
  mkdocs-ciso-controls/ciso_controls/__init__.py
  mkdocs-ciso-controls/setup.py
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: expand limitations and some rewords
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: added further fuctionallity to installation script
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Updated the ADR-0029 Architecture diagram
  docs/adr/0029-expose-jaeger-ui.md
  docs/img/0029-Jaeger-UI.png
  docs/img/0029-note1.png
  docs/img/0029-note2.png
  docs/img/0029-option1.py
  docs/img/0029-option2.py
  docs/img/0029-option3.py
  docs/img/0029-option4.py
  docs/img/expose-jaeger-ui-option1.dot
  docs/img/expose-jaeger-ui-option1.svg
  docs/img/expose-jaeger-ui-option2.dot
  docs/img/expose-jaeger-ui-option2.svg
  docs/img/expose-jaeger-ui-option3.dot
  docs/img/expose-jaeger-ui-option3.svg
  docs/img/expose-jaeger-ui-option4.dot
  docs/img/expose-jaeger-ui-option4.svg
  docs/img/option-1:_expose_jaeger_ui_via_ingress_in_wc_cluster_and_use_oauth2-proxy_for_request_authentication.png
  docs/img/option-2:_do_not_expose_jaeger_ui.png
  docs/img/option-3:_expose_jaeger_ui,_but_completely_behind_oauth2-proxy._use_config_domain,_groups,_ip_allowlisting_and_request_logging_for_protecting_it.png
  docs/img/option-4:_expose_jaeger_ui_and_audit_access_via_request_logging_in_oath2proxy.png
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: Add release notes for v0.32.1
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: updated deployment process
  docs/user-guide/self-managed-services/jupyterhub.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls
