Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '[.](svg|drawio.xml)$'
      - id: check-yaml
        # Helm templates are not reaaaally YAML.
        exclude: '[/]templates[/]'
        args:
          # Needed by mkdocs.yaml
          # Implies --allow-multiple-documents
          - '--unsafe'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml|.*\.min\.js)$

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: '.*[.]svg$'
      - id: svg-must-not-embed-PNG
        name: SVGs must NOT embed PNGs
        entry: 'image[^>]* xlink:href="data:image/png'
        language: pygrep
        files: '.*[.]svg$'
        # We'll deal with these later.
        exclude: '(\.drawio|ideal-dx|ideal-promotion)\.svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: '^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: '.*[.]md$'

Remove legacy Kibana and ODFE
  docs/img/logos/project-icons/opendistro.svg
  docs/user-guide/logs.md
Due: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add discussion on PDL-compliant audit logs
  docs/ciso-guide/pdl-audit-logs.md
  docs/user-guide/long-term-log-retention.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Make pre-commit happy
  docs/ciso-guide/pdl-audit-logs.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Avoid being someone else's uptime monitor
  linkchecker.conf
Due: none

Add discussion on PDL-compliant audit logs (#832)
  docs/ciso-guide/pdl-audit-logs.md
  docs/user-guide/long-term-log-retention.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Freeze dependencies
  README.md
  requirements-linkchecker.txt
  requirements.txt
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Unfreeze mkdocs-ciso-controls
  requirements.txt
Due: none

Point to the Python3 website
  README.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Freeze dependencies (#835)
  README.md
  requirements-linkchecker.txt
  requirements.txt
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Update rclone restore docs
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix Redis Sentinel Clients link
  docs/user-guide/additional-services/redis.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Added diagnostics command info
  docs/operator-manual/troubleshooting.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix URLs
  docs/user-guide/additional-services/redis.md
  docs/user-guide/self-managed-services/sealedsecrets.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

apps: added v0.37 release notes
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

apps: added v0.37 release notes (#838)
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

apps: added v0.37 release notes (#837)
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Don't alert on 502
  linkchecker.conf
Due: none

Ignore SSLCertVerificationError
  .github/workflows/checklinks.yml
  linkchecker.conf
Due: none

Add legal terms to glossary
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Remove roadmap
  docs/roadmap.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Update docs/glossary.md
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Shorten critical entity definition
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add question on Snapshot feature
  docs/operator-manual/provider-audit.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add question on Snapshot feature (#842)
  docs/operator-manual/provider-audit.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add legal terms to glossary (#839)
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

More fine-tuning
  linkchecker.conf
Due: none

Add ISA/IEC 62443
  docs/ciso-guide/isa-iec-62443.md
  docs/user-guide/delegation.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add ISA/IEC 62443 (#843)
  docs/ciso-guide/isa-iec-62443.md
  docs/user-guide/delegation.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix link
  docs/ciso-guide/isa-iec-62443.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Clarify that it's really okay to use sub-processor
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Update site description
  mkdocs.yml
Due: none

Add SBOM
  docs/ciso-guide/sbom.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

jaeger: added v1.52.0-ck8s1 release notes
  docs/release-notes/jaeger.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Update docs/ciso-guide/sbom.md
  docs/ciso-guide/sbom.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Clarify that it's really okay to use sub-processor (#845)
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls
