Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '[.](svg|drawio.xml)$'
      - id: check-yaml
        # Helm templates are not reaaaally YAML.
        exclude: '[/]templates[/]'
        args:
          # Needed by mkdocs.yaml
          # Implies --allow-multiple-documents
          - '--unsafe'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml|.*\.min\.js)$

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: '.*[.]svg$'
      - id: svg-must-not-embed-PNG
        name: SVGs must NOT embed PNGs
        entry: 'image[^>]* xlink:href="data:image/png'
        language: pygrep
        files: '.*[.]svg$'
        # We'll deal with these later.
        exclude: '(\.drawio|ideal-dx|ideal-promotion)\.svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: '^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: '.*[.]md$'

Update docs/operator-manual/opensearch-mappings.md
  docs/operator-manual/opensearch-mappings.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Update docs/user-guide/logs.md
  docs/user-guide/logs.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

trim trailing whitespace
  docs/user-guide/logs.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Remove space
  docs/operator-manual/opensearch-mappings.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: Updates release notes for app v0.34
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

adr-0039: app dev privilege elevation
  docs/adr/0039-application-dev-permissions.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add opensearch mappings docs (#728)
  docs/img/dynamic_mapping_1.png
  docs/img/dynamic_mapping_2.png
  docs/img/dynamic_mapping_3.png
  docs/img/dynamic_mapping_4.png
  docs/img/dynamic_mapping_5.png
  docs/img/dynamic_mapping_6.png
  docs/img/dynamic_mapping_7.png
  docs/img/explicit_mapping_1.png
  docs/img/explicit_mapping_2.png
  docs/img/explicit_mapping_3.png
  docs/img/explicit_mapping_4.png
  docs/img/explicit_mapping_5.png
  docs/img/explicit_mapping_6.png
  docs/img/explicit_mapping_7.png
  docs/img/explicit_mapping_8.png
  docs/operator-manual/opensearch-mappings.md
  docs/user-guide/logs.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add missing alt attributes
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add pre-commit hook to avoid non-descriptive link text
  .pre-commit-config.yaml
Due: none

Fixed wrong linked header for apps release v0.34.0
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

config: update user-demo hpa apiversion
  user-demo/deploy/ck8s-user-demo/templates/hpa.yaml
Due: none

Exclude ssllabs.com; gives errors in CI
  linkchecker.conf
Due: none

Fix: Kubespray-layer CHANGELOG URL
  docs/release-notes/kubespray.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Improve link text and CISO page
  docs/ciso-guide/index.md
  docs/index.md
  docs/operator-manual/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix and change colors for Elastisys admonition
  docs/stylesheets/extra.css
Due: none

Add elastisys-self-managed admonition
  docs/stylesheets/extra.css
Due: none

Use SM admonition on platform troubleshooting
  docs/operator-manual/troubleshooting.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: update docs with new apps and kubespray changes
  CONTRIBUTING.md
  docs/operator-manual/common.md
  docs/operator-manual/maintenance.md
  docs/operator-manual/on-prem-standard.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Improve pagespeed insights (#746)
  .pre-commit-config.yaml
  docs/ciso-guide/index.md
  docs/index.md
  docs/operator-manual/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add docs for Argo CD notifications
  docs/user-guide/additional-services/argocd.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Improve contrast on Elastisys admonition
  docs/stylesheets/extra.css
Due: none

Fix spelling
  docs/operator-manual/troubleshooting.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

configs: fix precommit
  docs/user-guide/additional-services/argocd.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: update jaeger to use OTEL
  docs/user-guide/additional-services/img/jaeger.drawio.svg
  docs/user-guide/additional-services/jaeger.md
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Ignore imy, due to pipeline failure
  linkchecker.conf
Due: none

docs: self-managed Kafka
  docs/user-guide/self-managed-services/kafka-files/deployment/kafka-operator-deployment.yaml
  docs/user-guide/self-managed-services/kafka-files/kafka-cluster/persistent-single.yaml
  docs/user-guide/self-managed-services/kafka-files/kafka-testing/kafka-consumer.yaml
  docs/user-guide/self-managed-services/kafka-files/kafka-testing/kafka-producer.yaml
  docs/user-guide/self-managed-services/kafka-files/roles/kafka-role.yaml
  docs/user-guide/self-managed-services/kafka-files/roles/kafka-rolebinding.yaml
  docs/user-guide/self-managed-services/kafka-files/roles/kustomization.yaml
  docs/user-guide/self-managed-services/kafka-files/sa-cm/kafka-sa-cm.yaml
  docs/user-guide/self-managed-services/kafka.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: add cluster api migration docs
  docs/user-guide/cluster-api.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls
