Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "[.](svg|drawio.xml)$"
      - id: check-yaml
        # Helm templates are not reaaaally YAML.
        exclude: "[/]templates[/]"
        args:
          # Needed by mkdocs.yaml
          # Implies --allow-multiple-documents
          - "--unsafe"
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml|.*\.min\.js)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        exclude: ^(user-demo/|docs/customer-quotes/|docs/tech-radar/)

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^.github/
        args:
          - --fix

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        exclude: /templates/|\.min\.|\.css$|\.html$|\.js$|\.md$|\.scss$|docs/img/|user-demo/|user-demo-dotnet/

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: ".*[.]svg$"
      - id: svg-must-not-embed-PNG
        name: SVGs must NOT embed PNGs
        entry: 'image[^>]* xlink:href="data:image/png'
        language: pygrep
        files: ".*[.]svg$"
        # We'll deal with these later.
        exclude: '(\.drawio|ideal-dx|ideal-promotion)\.svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: "^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )"
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-non-descriptive-link-text
        name: Avoid non-descriptive link text (see https://developers.google.com/search/docs/crawling-indexing/links-crawlable#write-good-anchor-text)
        entry: "(?i)<a[^>]*>(read more|click here|learn more)</a>"
        language: pygrep
        files: ".*[.]md$"

Rename to Welkin in some admin pages
  docs/operator-manual/clock-synchronization.md
  docs/operator-manual/getting-started.md
  docs/operator-manual/provider-audit.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Welkin in air-gapped arch
  docs/img/air-gapped.drawio.png
Due: none

Rename to Welkin in ADR-0029
  docs/img/adr/adr-0029-option1.png
  docs/img/adr/adr-0029-option1.py
  docs/img/adr/adr-0029-option2.png
  docs/img/adr/adr-0029-option2.py
  docs/img/adr/adr-0029-option3.png
  docs/img/adr/adr-0029-option3.py
  docs/img/adr/adr-0029-option4.png
  docs/img/adr/adr-0029-option4.py
Due: none

Welkin in arch diagrams
  docs/architecture.md
  docs/img/.$welkin-c4model-level3-access-control.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-auth.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-backup.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-logs.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-metrics.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3.drawio.svg.bkp
  docs/img/welkin-c4model-level3-access-control.drawio.svg
  docs/img/welkin-c4model-level3-auth.drawio.svg
  docs/img/welkin-c4model-level3-backup.drawio.svg
  docs/img/welkin-c4model-level3-logs.drawio.svg
  docs/img/welkin-c4model-level3-metrics.drawio.svg
  docs/img/welkin-c4model-level3.drawio.svg
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add Welkin logo
  docs/img/logos/Welkin-logo_horisontal_green.svg
  docs/img/welkin-c4model-level1.drawio.svg
Due: svg-must-embed, svg-must-not-embed-PNG

More Welkin in content
  docs/glossary.md
  docs/quality-criteria.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

More Welkin in ciso-guide
  docs/ciso-guide/audit-logs.md
  docs/ciso-guide/cryptography.md
  docs/ciso-guide/index.md
  docs/ciso-guide/isa-iec-62443.md
  docs/ciso-guide/pdl-audit-logs.md
  docs/ciso-guide/policy-as-code.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

More Welkin in content
  docs/adr/0001-use-rook-storage-orchestrator.md
  docs/adr/0004-plan-for-usage-without-wrapper-scripts.md
  docs/adr/0006-use-standard-kubeconfig-mechanisms.md
  docs/adr/0007-make-monitoring-forwarders-storage-independent.md
  docs/adr/0011-let-upstream-projects-handle-crds.md
  docs/adr/0012-do-not-persist-dex.md
  docs/adr/0013-configure-alerts-in-omt.md
  docs/adr/0014-use-bats-for-testing-bash-wrappers.md
  docs/adr/0015-we-believe-in-community-driven-open-source.md
  docs/adr/0016-gid-0-is-okey-but-not-by-default.md
  docs/adr/0017-persist-dex.md
  docs/adr/0018-use-probe-to-measure-internal-uptime.md
  docs/adr/0019-push-metrics-via-thanos.md
  docs/adr/0020-filter-by-cluster-label-then-data-source.md
  docs/adr/0039-application-dev-permissions.md
  docs/adr/0040-allow-group-id-0.md
  docs/adr/0041-encryption-at-rest.md
  docs/adr/0042-argocd-dynamic-hnc-namespaces.md
  docs/adr/0050-use-cluster-isolation.md
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Welkin in user-guide links
  docs/user-guide/img/user-guide.drawio.svg
Due: svg-must-embed

Rename to Welkin in some appdev pages
  docs/user-guide/alerts.md
  docs/user-guide/metrics.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Rename to "Welkin" in `mkdocs.yaml`
  docs/release-notes/welkin.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Welkin in CISO plugin
  mkdocs-ciso-controls/README.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Redirect, instead of showing a copy
  .github/workflows/deploy.yml
Due: none

Fix another anchor
  docs/operator-manual/on-prem-standard.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Welkin in drawio library
  docs/img/ck8s-library.drawio.xml
  docs/img/welkin-library.drawio.xml
Due: none

Rename to Welkin in user-demo
  user-demo/scripts/build-locally.sh
  user-demo/scripts/run-locally.sh
  user-demo/scripts/test-locally.sh
Due: none

More Welkin renames
  .github/ISSUE_TEMPLATE/new-page-request.md
  .github/workflows/user-demo.yml.example
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/adr/index.md
  docs/img/user-overview.dot
  docs/index.md
  docs/operator-manual/access-control.md
  docs/operator-manual/additional-services.md
  docs/operator-manual/air-gapped.md
  docs/operator-manual/capacity-management.md
  docs/operator-manual/clean-up.md
  docs/operator-manual/cluster-sizing.md
  docs/operator-manual/configure.md
  docs/operator-manual/cryptography.md
  docs/operator-manual/disaster-recovery.md
  docs/operator-manual/ingress.md
  docs/operator-manual/maintenance.md
  docs/operator-manual/on-prem-standard.md
  docs/operator-manual/schema/README.md
  docs/operator-manual/schema/config.md
  docs/operator-manual/schema/secrets.md
  docs/operator-manual/troubleshooting.md
  docs/operator-manual/user-managed-crds.md
  docs/release-notes/capi.md
  docs/release-notes/index.md
  docs/release-notes/kubespray.md
  docs/release-notes/postgres.md
  docs/release-notes/rabbitmq.md
  docs/release-notes/redis.md
  docs/release-notes/welkin.md
  docs/tech-radar/index.html
  mkdocs.yml
  overrides/partials/source.html
  overrides/redirect.html
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Welkin in cluster isolation diagram
  docs/adr/img/0050-use-cluster-isolation.drawio.svg
Due: svg-must-embed

Upgrade to mike 2.1.3
  requirements.txt
Due: none

Welkin in markdownlint
  .markdownlint.yaml
Due: none

Update all requirements
  requirements.txt
Due: none

Rename to Welkin in user-demo
  user-demo/README.md
  user-demo/deploy/ck8s-user-demo/templates/NOTES.txt
  user-demo/deploy/ck8s-user-demo/templates/tests/test-connection.yaml
  user-demo/deploy/oauth2-proxy.yaml
  user-demo/deploy/welkin-user-demo/.helmignore
  user-demo/deploy/welkin-user-demo/Chart.yaml
  user-demo/deploy/welkin-user-demo/dashboards/demo-dashboard.json
  user-demo/deploy/welkin-user-demo/dashboards/demo-dashboard.png
  user-demo/deploy/welkin-user-demo/templates/NOTES.txt
  user-demo/deploy/welkin-user-demo/templates/_helpers.tpl
  user-demo/deploy/welkin-user-demo/templates/deployment.yaml
  user-demo/deploy/welkin-user-demo/templates/hpa.yaml
  user-demo/deploy/welkin-user-demo/templates/ingress.yaml
  user-demo/deploy/welkin-user-demo/templates/networkpolicy.yaml
  user-demo/deploy/welkin-user-demo/templates/prometheusrule.yaml
  user-demo/deploy/welkin-user-demo/templates/service.yaml
  user-demo/deploy/welkin-user-demo/templates/servicemonitor.yaml
  user-demo/deploy/welkin-user-demo/templates/tests/test-connection.yaml
  user-demo/deploy/welkin-user-demo/values.yaml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Fix 'Elastisys Welkin' in ciso-guide
  docs/ciso-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Welkin in Level 2 arch
  docs/img/Makefile
  docs/img/ck8s-c4model-level2.png
  docs/img/welkin-c4model-level2.dot
  docs/img/welkin-c4model-level2.png
Due: none

Remove crap
  docs/img/.$welkin-c4model-level3-access-control.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-auth.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-backup.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-logs.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3-metrics.drawio.svg.bkp
  docs/img/.$welkin-c4model-level3.drawio.svg.bkp
Due: none

Remove obsolete user-overview image
  docs/img/Makefile
  docs/img/user-overview.dot
  docs/img/user-overview.png
Due: none

Change version names; setup redirect to /welkin
  .github/workflows/deploy.yml
Due: none

Allow manually-triggered deploy
  .github/workflows/deploy.yml
Due: none

More Welkin in content
  docs/ciso-guide/controls/_common.include
  docs/ciso-guide/controls/bsi-it-grundschutz.md
  docs/ciso-guide/controls/gdpr.md
  docs/ciso-guide/controls/hipaa.md
  docs/ciso-guide/controls/hslf-fs-201640.md
  docs/ciso-guide/controls/kritis.md
  docs/ciso-guide/controls/mdr.md
  docs/ciso-guide/controls/msbfs-20188.md
  docs/ciso-guide/controls/nis2.md
  docs/ciso-guide/controls/nist-sp-800-171.md
  docs/ciso-guide/faq.md
  docs/ciso-guide/information-security/dod-enterprise-devsecops-reference-design-kubernetes.md
  docs/ciso-guide/information-security/index.md
  docs/ciso-guide/vulnerability.md
  docs/operator-manual/air-gapped.md
  docs/operator-manual/common.md
  docs/operator-manual/credentials.md
  docs/operator-manual/index.md
  docs/operator-manual/ingress.md
  docs/operator-manual/on-prem-standard.md
  docs/operator-manual/user-alerts.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Welkin in Sjunet diagram
  docs/user-guide/self-managed-services/img/sjunet.svg
Due: svg-must-embed, svg-must-not-embed-PNG

One more Welkin in additional-services
  docs/user-guide/additional-services/img/additional-services.drawio.svg
Due: svg-must-embed

Welkin in additional-service diagram
  docs/user-guide/additional-services/img/additional-services.drawio.svg
Due: svg-must-embed

Welkin in user-guide
  docs/user-guide/img/user-guide.drawio.svg
Due: svg-must-embed

Rename URL to GitHub project
  docs/adr/0011-let-upstream-projects-handle-crds.md
  docs/ciso-guide/controls/bsi-it-grundschutz.md
  docs/ciso-guide/controls/nist-sp-800-171.md
  docs/operator-manual/on-prem-standard.md
  docs/quality-criteria.md
  docs/user-guide/alerts.md
  docs/user-guide/ci-cd.md
  docs/user-guide/continous-development.md
  docs/user-guide/delegation.md
  docs/user-guide/deploy.md
  docs/user-guide/go-live.md
  docs/user-guide/index.md
  docs/user-guide/kubernetes-api.md
  docs/user-guide/maintenance.md
  docs/user-guide/metrics.md
  docs/user-guide/network-model.md
  docs/user-guide/prepare-application.md
  docs/user-guide/registry.md
  docs/user-guide/safeguards/default-pod-topology-spread-constraints.md
  docs/user-guide/safeguards/enforce-networkpolicies.md
  docs/user-guide/safeguards/enforce-no-root.md
  docs/user-guide/safeguards/enforce-resources.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

More content changes
  docs/adr/0011-let-upstream-projects-handle-crds.md
  docs/ciso-guide/audit-logs.md
  docs/user-guide/additional-services/argocd.md
  docs/user-guide/additional-services/jaeger.md
  docs/user-guide/additional-services/postgresql.md
  docs/user-guide/additional-services/rabbitmq.md
  docs/user-guide/additional-services/redis.md
  docs/user-guide/additional-services/timescaledb.md
  docs/user-guide/backup.md
  docs/user-guide/continous-development.md
  docs/user-guide/kubernetes-api.md
  docs/user-guide/list-of-non-functional-application-requirements.html
  docs/user-guide/logs.md
  docs/user-guide/network-model.md
  docs/user-guide/prepare-application.md
  docs/user-guide/registry.md
  docs/user-guide/safeguards/enforce-minimum-replicas.md
  docs/user-guide/safeguards/enforce-no-root.md
  docs/user-guide/safeguards/enforce-resources.md
  docs/user-guide/safeguards/enforce-trusted-registries.md
  docs/user-guide/self-managed-services/_common-crds.include
  docs/user-guide/self-managed-services/flux.md
  docs/user-guide/self-managed-services/jupyterhub.md
  docs/user-guide/troubleshooting.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Make pre-commit happy
  .github/workflows/deploy.yml
  .pre-commit-config.yaml
  docs/img/site.webmanifest
  docs/user-guide/additional-services/img/additional-services.drawio.svg
  docs/user-guide/img/user-guide.drawio.svg
  docs/user-guide/logs.md
  docs/user-guide/network-model.md
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add mascot in sidebar
  docs/img/logos/Welkin_maskot.svg
  overrides/main.html
Due: svg-must-embed, svg-must-not-embed-PNG

docs: check amount of logs in reviews
  docs/ciso-guide/log-review.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

PR fixups
  docs/ciso-guide/log-review.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text
