Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "[.](svg|drawio.xml)$"
      - id: check-yaml
        # Helm templates are not reaaaally YAML.
        exclude: "[/]templates[/]"
        args:
          # Needed by mkdocs.yaml
          # Implies --allow-multiple-documents
          - "--unsafe"
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml|.*\.min\.js)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        exclude: ^(user-demo/|docs/customer-quotes/|docs/tech-radar/)

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^.github/
        args:
          - --fix

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        exclude: /templates/|\.min\.|\.css$|\.html$|\.js$|\.md$|\.scss$|docs/img/|user-demo/|user-demo-dotnet/

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: ".*[.]svg$"
      - id: svg-must-not-embed-PNG
        name: SVGs must NOT embed PNGs
        entry: 'image[^>]* xlink:href="data:image/png'
        language: pygrep
        files: ".*[.]svg$"
        # We'll deal with these later.
        exclude: '(\.drawio|ideal-dx|ideal-promotion)\.svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: "^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )"
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-non-descriptive-link-text
        name: Avoid non-descriptive link text (see https://developers.google.com/search/docs/crawling-indexing/links-crawlable#write-good-anchor-text)
        entry: "(?i)<a[^>]*>(read more|click here|learn more)</a>"
        language: pygrep
        files: ".*[.]md$"

Add Cluster API itself
  docs/release-notes/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update improve-documentation-page.md
  .github/ISSUE_TEMPLATE/improve-documentation-page.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

New design as per new brand book
  docs/img/marchitecture.svg
Due: svg-must-embed, svg-must-not-embed-PNG

Updated copy
  docs/ciso-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

WIP commit
  docs/ciso-guide/information-security/dod-enterprise-devsecops-reference-design-kubernetes.md
  docs/ciso-guide/information-security/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Fixed links
  docs/ciso-guide/information-security/dod-enterprise-devsecops-reference-design-kubernetes.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Empty final line
  docs/ciso-guide/information-security/dod-enterprise-devsecops-reference-design-kubernetes.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Please the pre-commit hook
  docs/ciso-guide/information-security/dod-enterprise-devsecops-reference-design-kubernetes.md
  docs/ciso-guide/information-security/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Include in navbar
  mkdocs.yml
Due: none

Recategorized in navbar
  mkdocs.yml
Due: none

Indentation fix
  mkdocs.yml
Due: none

docs: Warning about DNS-01 challenges
  docs/user-guide/network-model.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: Add tip to monitor certificates with user alertmanager
  docs/user-guide/network-model.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add release notes for Apps v0.38.1
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Fix links
  docs/operator-manual/ingress.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Use "Management Cluster" in arch diagrams
  docs/img/ck8s-c4model-level2.png
  docs/img/ck8s-c4model-level3-access-control.drawio.svg
  docs/img/ck8s-c4model-level3-auth.drawio.svg
  docs/img/ck8s-c4model-level3-backup.drawio.svg
  docs/img/ck8s-c4model-level3-logs.drawio.svg
  docs/img/ck8s-c4model-level3-metrics.drawio.svg
  docs/img/ck8s-c4model-level3.drawio.svg
Due: svg-must-embed

One more fix
  docs/img/ck8s-c4model-level3-metrics.drawio.svg
Due: svg-must-embed

Use "Management Cluster" in arch diagrams (#915)
  docs/img/ck8s-c4model-level2.png
  docs/img/ck8s-c4model-level3-access-control.drawio.svg
  docs/img/ck8s-c4model-level3-auth.drawio.svg
  docs/img/ck8s-c4model-level3-backup.drawio.svg
  docs/img/ck8s-c4model-level3-logs.drawio.svg
  docs/img/ck8s-c4model-level3-metrics.drawio.svg
  docs/img/ck8s-c4model-level3.drawio.svg
Due: svg-must-embed

docs: remove back-referencing in opensearch DR docs
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

reword opensearch installation
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

app instead of group for opensearch
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: remove back-referencing in opensearch DR docs (#792)
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add release notes for Apps v0.39.0
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add release notes for Apps v0.38.2
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Minor fixes
  ci/vale/styles/config/vocabularies/Elastisys/accept.txt
  docs/ciso-guide/information-security/dod-enterprise-devsecops-reference-design-kubernetes.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add release notes for Apps v0.38.2 (#921)
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add release notes for Apps v0.38.2 (#920)
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Minor fixes (#922)
  ci/vale/styles/config/vocabularies/Elastisys/accept.txt
  docs/ciso-guide/information-security/dod-enterprise-devsecops-reference-design-kubernetes.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Unify linkchecker config files
  .github/workflows/checklinks.yml
  linkchecker-with-anchorcheck.conf
  linkchecker.conf
Due: none

Update docs/release-notes/index.md
  docs/release-notes/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add Apps to glossary
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Make pre-commit happy
  docs/glossary.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add release cycle (#904)
  docs/glossary.md
  docs/release-notes/index.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text
