Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '[.](svg|drawio.xml)$'
      - id: check-yaml
        # Helm templates are not reaaaally YAML.
        exclude: '[/]templates[/]'
        args:
          # Needed by mkdocs.yaml
          # Implies --allow-multiple-documents
          - '--unsafe'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml|.*\.min\.js)$

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: '.*[.]svg$'
      - id: svg-must-not-embed-PNG
        name: SVGs must NOT embed PNGs
        entry: 'image[^>]* xlink:href="data:image/png'
        language: pygrep
        files: '.*[.]svg$'
        # We'll deal with these later.
        exclude: '(\.drawio|ideal-dx|ideal-promotion)\.svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: '^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: '.*[.]md$'

Audit: Are colocation providers subprocessors? (#689)
  docs/operator-manual/provider-audit.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Show CI environment for debugging
  .github/workflows/deploy.yml
Due: none

docs: sjunet
  docs/user-guide/self-managed-services/img/76608a.png
  docs/user-guide/self-managed-services/img/SjuNet.svg
  docs/user-guide/self-managed-services/img/b1ddf0.png
  docs/user-guide/self-managed-services/img/bac8d3.png
  docs/user-guide/self-managed-services/sjunet.md
  mkdocs.yml
  requirements.txt
Due: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Prettify showing CI environment
  .github/workflows/deploy.yml
Due: none

Add MSBFS 2018:8
  docs/ciso-guide/controls/msbfs-20188.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Reorganize regulations
  mkdocs.yml
Due: none

Add KRITIS and 'Swedish' KRITIS
  docs/ciso-guide/controls/kritis.md
  docs/ciso-guide/controls/msbfs-20188.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Don't complain about 'bund'
  .codespellignore
Due: none

Reorg regulations (#704)
  .codespellignore
  docs/ciso-guide/controls/kritis.md
  docs/ciso-guide/controls/msbfs-20188.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix redirect
  docs/user-guide/self-managed-services/ferretdb.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Improve MDR page based on customer feedback
  docs/ciso-guide/controls/mdr.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix redirect
  docs/operator-manual/troubleshooting.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add missing registered trademark
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: Fixes for Flux docs
  docs/user-guide/self-managed-services/flux-files/roles/all-controllers-role.yaml
  docs/user-guide/self-managed-services/flux-files/roles/kustomization.yaml
  docs/user-guide/self-managed-services/flux-files/roles/source-controller-role.yaml
  docs/user-guide/self-managed-services/flux.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix redirect
  docs/user-guide/logs.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

further improvements to flux docs
  docs/user-guide/self-managed-services/flux-files/kustomization.yaml
  docs/user-guide/self-managed-services/flux.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Avoid rebuilding the CSS from SASS
  docs/stylesheets/style.css
  extra_sass/style.css.scss
  mkdocs.yml
  requirements.txt
Due: none

Refresh Keycloak instructions
  docs/user-guide/self-managed-services/keycloak.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Correct Sjunet capitalisation
  docs/user-guide/self-managed-services/img/SjuNet.svg
  docs/user-guide/self-managed-services/img/sjunet.svg
  docs/user-guide/self-managed-services/sjunet.md
  mkdocs.yml
Due: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

add: release notes for v0.33.1 and v0.32.2
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

add: release notes for v0.32.2
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

docs: Update release notes for kubespray
  docs/release-notes/kubespray.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add missing registered trademark (#707)
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

add: release notes for v0.32.2 (#713)
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

ADR: PgBouncer for PostgreSQL
  docs/adr/0044-pgbouncer.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Give instructions on CSS generation
  README.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

PR comments fix
  docs/adr/0044-pgbouncer.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

add: release notes for v0.33.1 and v0.32.2 (#711)
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

add: release notes for v0.33.1 and v0.32.2 (#712)
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Ignore redirect warnings
  linkchecker.conf
Due: none

fix: mike
  mkdocs.yml
  requirements.txt
Due: none

fix: mike (#719)
  mkdocs.yml
  requirements.txt
Due: none

docs: Add documentation on how to configure pgbouncer
  docs/user-guide/self-managed-services/pgbouncer.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Added option 3
  docs/adr/0044-pgbouncer.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

fix
  docs/adr/0044-pgbouncer.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls
