Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "[.](svg|drawio.xml)$"
      - id: check-yaml
        # Helm templates are not reaaaally YAML.
        exclude: "[/]templates[/]"
        args:
          # Needed by mkdocs.yaml
          # Implies --allow-multiple-documents
          - "--unsafe"
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml|.*\.min\.js)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        exclude: ^(user-demo/|docs/customer-quotes/|docs/tech-radar/)

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^.github/
        args:
          - --fix

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        exclude: /templates/|\.min\.|\.css$|\.html$|\.js$|\.md$|\.scss$|docs/img/|user-demo/|user-demo-dotnet/

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: ".*[.]svg$"
      - id: svg-must-not-embed-PNG
        name: SVGs must NOT embed PNGs
        entry: 'image[^>]* xlink:href="data:image/png'
        language: pygrep
        files: ".*[.]svg$"
        # We'll deal with these later.
        exclude: '(\.drawio|ideal-dx|ideal-promotion)\.svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: ".*[.]md$"
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: "^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )"
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: ".*[.]md$"
      - id: avoid-non-descriptive-link-text
        name: Avoid non-descriptive link text (see https://developers.google.com/search/docs/crawling-indexing/links-crawlable#write-good-anchor-text)
        entry: "(?i)<a[^>]*>(read more|click here|learn more)</a>"
        language: pygrep
        files: ".*[.]md$"

Use correct logo from Telia
  docs/img/logos/orgs/telia.png
  docs/img/logos/orgs/telia.svg
  docs/index.md
Due: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add NIS2 Minimum Requirements (#947)
  ci/vale/styles/config/vocabularies/Elastisys/accept.txt
  docs/ciso-guide/controls/nis2.md
  docs/ciso-guide/index.md
  docs/ciso-guide/vulnerability.md
  docs/operator-manual/access-control.md
  docs/operator-manual/cryptography.md
  docs/operator-manual/disaster-recovery.md
  docs/operator-manual/provider-audit.md
  docs/operator-manual/troubleshooting.md
  docs/user-guide/alerts.md
  docs/user-guide/backup.md
  docs/user-guide/delegation.md
  docs/user-guide/demarcation.md
  docs/user-guide/how-many-environments.md
  docs/user-guide/log-based-alerts.md
  docs/user-guide/network-model.md
  docs/user-guide/prepare-idp.md
  docs/user-guide/troubleshooting.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add self-managed apps disclaimer
  docs/user-guide/self-managed-services/_common.include
Due: none

Add self-managed apps disclaimer (#958)
  docs/user-guide/self-managed-services/_common.include
Due: none

docs: postgres pdb
  docs/user-guide/additional-services/postgresql.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add default scrape interval and timeout
  docs/user-guide/metrics.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Refresh list of ignored errors
  linkchecker.conf
Due: none

adr:0052 Azure Encryption-at-Rest for Object Storage and Block Storage
  docs/adr/0052-azure-encryption-at-rest.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr:0052 Azure Encryption-at-Rest for Object Storage and Block Storage (#960)
  docs/adr/0052-azure-encryption-at-rest.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Ignore http-rate-limited for stackoverflow.com
  linkchecker.conf
  requirements-linkchecker.txt
Due: none

Ignore http-rate-limited for stackoverflow.com (#961)
  linkchecker.conf
  requirements-linkchecker.txt
Due: none

Ignore anchorcheck (needs unreleased linkchecker)
  linkchecker.conf
Due: none

docs: user guide about graceful pod termination
  docs/user-guide/prepare-application.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: safeguard improvements
  docs/user-guide/safeguards/enforce-job-ttl.md
  docs/user-guide/safeguards/enforce-minimum-replicas.md
  docs/user-guide/safeguards/enforce-networkpolicies.md
  docs/user-guide/safeguards/enforce-no-latest-tag.md
  docs/user-guide/safeguards/enforce-no-load-balancer-service.md
  docs/user-guide/safeguards/enforce-no-root.md
  docs/user-guide/safeguards/enforce-podsecuritypolicies.md
  docs/user-guide/safeguards/enforce-resources.md
  docs/user-guide/safeguards/enforce-trusted-registries.md
  docs/user-guide/safeguards/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add release notes for v0.40.1
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr-0054: Allow Application Developer write access to Endpoints and EndpointSlices after Proper Risk Acceptance
  docs/adr/0054-allow-write-access-to-endpoints-and-endpointslices-after-risk-acceptance.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: add security notice
  docs/release-notes/ck8s.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr-0054: Allow Application Developer write access to Endpoints and EndpointSlices after Proper Risk Acceptance (#964)
  docs/adr/0054-allow-write-access-to-endpoints-and-endpointslices-after-risk-acceptance.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add non-functional application requirements
  docs/user-guide/list-of-non-functional-application-requirements.html
  docs/user-guide/prepare-application.md
  mkdocs.yml
  scripts/requirements-tsv-to-table.py
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Make pre-commit happy
  docs/user-guide/list-of-non-functional-application-requirements.html
Due: none

Add Information Security page to nav
  mkdocs.yml
Due: none

Add Information Security page to nav (#966)
  mkdocs.yml
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Add non-functional application requirements (#962)
  docs/user-guide/list-of-non-functional-application-requirements.html
  docs/user-guide/prepare-application.md
  mkdocs.yml
  scripts/requirements-tsv-to-table.py
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update CODEOWNERS (#967)
  CODEOWNERS
Due: none

docs: add postgres v1.12.2-ck8s1 release notes
  docs/release-notes/postgres.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Bump dependencies in user demo
  user-demo/Dockerfile
  user-demo/package-lock.json
  user-demo/package.json
Due: none

Ignore gdpr.fan
  linkchecker.conf
Due: none

Bump dependencies in user demo (#969)
  user-demo/Dockerfile
  user-demo/package-lock.json
  user-demo/package.json
Due: none

adr:0053-observability-data-for-platform-services
  docs/adr/0053-do-not-expose-platform-observability-services-to-end-users.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr:0053-observability-data-for-platform-services (#963)
  docs/adr/0053-do-not-expose-platform-observability-services-to-end-users.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

fix broken links
  docs/adr/0053-do-not-expose-platform-observability-services-to-end-users.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

fix broken links (#970)
  docs/adr/0053-do-not-expose-platform-observability-services-to-end-users.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Ignore ConnectionError
  linkchecker.conf
Due: none

docs: update velero dr instructions
  docs/operator-manual/disaster-recovery.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text
