Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '[.](svg|drawio.xml)$'
      - id: check-yaml
        exclude: '[/](templates[/]|oauth2-proxy.yaml)'
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: no-commit-to-branch

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        name: check spelling
        args:
          - -I
          - .codespellignore
        exclude: ^(site/.*|.*\.dot|.*\.svg|.*\.xml)$

  - repo: local
    hooks:
      - id: svg-must-embed
        name: SVGs must embed all images
        entry: 'image[^>]* xlink:href="https'
        language: pygrep
        files: '.*[.]svg$'
      - id: use-relative-urls
        name: Use relative URLs for internal links
        # Why? Mkdocs wants you to: https://www.mkdocs.org/user-guide/writing-your-docs/#linking-to-pages
        entry: '\[[^\]]*\][(][/].*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: use-relative-urls-to-files
        # Why? This ensures the docs are readable from GitHub and allows mkdocs
        # to do some internal link checking.
        name: Internal links should point to files
        # NOTE: I'm unsure the rule above can be precisely implemented using a
        # regex. What I'm essentially ask here is:
        # - link should not start with anchor `#`;
        # - ignore leading `../..` from relative links;
        # - there should be `:` (as in `https://`) or `.` (as in `index.md`)
        #   somewhere in the link.
        entry: '\[[^\]]*\][(][^#][.\/]*[^.:]*[)]'
        language: pygrep
        files: '.*[.]md$'
      - id: capitalize-common-names
        name: Please capitalize common names
        entry: ' (git[Hh]ub|kubernetes|trivy|starboard)( |, |[.] )'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-absolute-urls-for-internal-links
        name: Avoid absolute URLs (https://elastisys.io) for internal links
        entry: '\/\/(elastisys.io)\/'
        language: pygrep
        files: '.*[.]md$'
      - id: avoid-old-urls
        name: Avoid old URLs (https://compliantkubernetes.io)
        entry: 'compliantkubernetes.io(?!\/nobackup)'
        language: pygrep
        files: '.*[.]md$'

Document restricted privileges safeguard
  docs/user-guide/safeguards/enforce-podsecuritypolicies.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add MDR controls
  docs/ciso-guide/controls/mdr.md
  docs/user-guide/how-many-environments.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Added Architecture diagram for considered options
  docs/adr/0029-expose-jaeger-ui.md
  docs/img/expose-jaeger-ui-option1.svg
  docs/img/expose-jaeger-ui-option2.svg
  docs/img/expose-jaeger-ui-option3.svg
  docs/img/expose-jaeger-ui-option4.svg
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

added diagram
  docs/img/expose-jaeger-ui-option2.svg
Due: svg-must-embed

Added Diagram as a code
  docs/img/expose-jaeger-ui-option1.dot
  docs/img/expose-jaeger-ui-option2.dot
  docs/img/expose-jaeger-ui-option3.dot
  docs/img/expose-jaeger-ui-option4.dot
Due: none

Fix faulty commands in operator-manual troubleshooting (#662)
  docs/operator-manual/troubleshooting.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Clarify scope based on actual law text
  docs/ciso-guide/controls/mdr.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Bring back prev and next buttons
  mkdocs.yml
Due: none

Let's be more social
  .gitignore
  mkdocs.yml
Due: none

Add dependencies of social plugin
  requirements.txt
Due: none

Give facts about which MDR class is achievable
  docs/ciso-guide/controls/mdr.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Shorter site_description for social cards
  mkdocs.yml
Due: none

Add MDR controls (#665)
  docs/ciso-guide/controls/mdr.md
  docs/user-guide/how-many-environments.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add more trademark notices
  mkdocs.yml
Due: none

WIP commit 2 to share with CK
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

WIP
  docs/stylesheets/extra.css
Due: none

Benefits
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Try Bootstrap's Carousel
  docs/customer-quotes/bootstrap.bundle.min.js
  docs/customer-quotes/bootstrap.min.css
  docs/customer-quotes/branding.css
  docs/customer-quotes/carousel.css
  docs/customer-quotes/index.html
Due: none

Fix too small logos
  docs/stylesheets/extra.css
Due: none

More stuff
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Embed customer quotes
  docs/customer-quotes/carousel.css
  docs/customer-quotes/index.html
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix size of carousel
  docs/customer-quotes/carousel.css
Due: none

Refactor CSS
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

WIP commit for sharing with CK
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix CSS specificity
  docs/stylesheets/extra.css
Due: none

Add CNCF logos
  docs/img/logos/certified-kubernetes-color.svg
  docs/img/logos/cncf-member-silver-color.svg
  docs/img/logos/kubernetes-kcsp-color.svg
Due: svg-must-embed

Trusted by
  docs/img/logos/orgs/carasent.png
  docs/img/logos/orgs/elsa.svg
  docs/img/logos/orgs/goozo.svg
  docs/img/logos/orgs/tempus.png
  docs/img/logos/orgs/vivium.png
  docs/index.md
  docs/stylesheets/extra.css
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Warm up for adding icons
  docs/index.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

More work on the semantic stuff
  docs/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Light logos
  docs/img/logos/orgs/carasent.png
  docs/img/logos/orgs/elsa.svg
  docs/img/logos/orgs/goozo.png
  docs/img/logos/orgs/goozo.svg
  docs/img/logos/orgs/tempus.png
  docs/img/logos/orgs/vivium.png
  docs/index.md
  docs/stylesheets/extra.css
Due: svg-must-embed, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add icons
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

More fixes
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

CNCF logos
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Fix spacing
  docs/index.md
  docs/stylesheets/extra.css
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Refactor CSS into SCSS
  docs/stylesheets/extra.css
  extra_sass/style.css.scss
  mkdocs.yml
  requirements.txt
Due: none

Remove customer quotes; add margin under icon
  docs/index.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Add space around the footer
  docs/stylesheets/extra.css
Due: none

Fix part with CNCF logos
  docs/index.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls

Refactor CSS
  docs/index.md
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls
