Repository elastisys/compliantkubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

svg-must-embed:
  name: SVGs must embed all images
  entry: image[^>]* xlink:href="https
  language: pygrep

svg-must-not-embed-PNG:
  name: SVGs must NOT embed PNGs
  entry: image[^>]* xlink:href="data:image/png
  language: pygrep

use-relative-urls:
  name: Use relative URLs for internal links
  entry: \[[^\]]*\][(][/].*[)]
  language: pygrep

use-relative-urls-to-files:
  name: Internal links should point to files
  entry: \[[^\]]*\][(][^#][.\/]*[^.:]*[)]
  language: pygrep

capitalize-common-names:
  name: Please capitalize common names
  entry: ^[^`]{0,100} (git[Hh]ub|kubernetes|trivy|starboard|compliantkubernetes|compliant [Kk]ubernetes|ck8s)( |, |[.] )
  language: pygrep

avoid-absolute-urls-for-internal-links:
  name: Avoid absolute URLs (https://elastisys.io) for internal links
  entry: \/\/(elastisys.io)\/
  language: pygrep

avoid-old-urls:
  name: Avoid old URLs (https://compliantkubernetes.io)
  entry: compliantkubernetes.io(?!\/nobackup)
  language: pygrep

avoid-non-descriptive-link-text:
  name: Avoid non-descriptive link text (see https://developers.google.com/search/docs/crawling-indexing/links-crawlable#write-good-anchor-text)
  entry: (?i)<a[^>]*>(read more|click here|learn more)</a>
  language: pygrep

docs: fixes for demarcation page
  docs/user-guide/demarcation.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: fixes for delegation page
  docs/user-guide/delegation.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

docs: minor fixes for capi page
  docs/user-guide/cluster-api.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add questions to provider audit
  ci/vale/styles/config/vocabularies/Elastisys/accept.txt
  docs/operator-manual/provider-audit.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Improve capacity management page
  .vale.ini
  ci/vale/styles/config/vocabularies/Elastisys/accept.txt
  docs/operator-manual/capacity-management.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Improve capacity management page (#897)
  .vale.ini
  ci/vale/styles/config/vocabularies/Elastisys/accept.txt
  docs/operator-manual/capacity-management.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr-0048: Access Management for Additional Managed Services (AMS)- Redis
  docs/adr/0048-access-management-for-AMS-with-network-policies.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr-0048: Access Management for Additional Managed Services (AMS)- Redis (#825)
  docs/adr/0048-access-management-for-AMS-with-network-policies.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Import elements of the new brandbook
  docs/fonts/Inter-VariableFont_slnt,wght.ttf
  docs/stylesheets/branding.css
Due: none

Redo the fonts thingies
  docs/fonts/Poppins-Medium.otf
  docs/fonts/Roboto-Regular.ttf
  docs/fonts/inter/Inter-VariableFont_slnt,wght.ttf
  docs/fonts/inter/OFL.txt
  docs/fonts/inter/README.txt
  docs/fonts/poppins/Poppins-Black.woff
  docs/fonts/poppins/Poppins-Black.woff2
  docs/fonts/poppins/Poppins-Bold.woff
  docs/fonts/poppins/Poppins-Bold.woff2
  docs/fonts/poppins/Poppins-ExtraBold.woff
  docs/fonts/poppins/Poppins-ExtraBold.woff2
  docs/fonts/poppins/Poppins-ExtraLight.woff
  docs/fonts/poppins/Poppins-ExtraLight.woff2
  docs/fonts/poppins/Poppins-Italic.woff
  docs/fonts/poppins/Poppins-Italic.woff2
  docs/fonts/poppins/Poppins-Light.woff
  docs/fonts/poppins/Poppins-Light.woff2
  docs/fonts/poppins/Poppins-Medium.woff
  docs/fonts/poppins/Poppins-Medium.woff2
  docs/fonts/poppins/Poppins-Regular.woff
  docs/fonts/poppins/Poppins-Regular.woff2
  docs/fonts/poppins/Poppins-SemiBold.woff
  docs/fonts/poppins/Poppins-SemiBold.woff2
  docs/fonts/poppins/Poppins-Thin.woff
  docs/fonts/poppins/Poppins-Thin.woff2
  docs/fonts/robotomono/LICENSE.txt
  docs/fonts/robotomono/README.txt
  docs/fonts/robotomono/RobotoMono-Italic-VariableFont_wght.ttf
  docs/fonts/robotomono/RobotoMono-VariableFont_wght.ttf
  docs/stylesheets/branding.css
Due: none

Fix URL
  docs/adr/0030-run-argocd-on-elastisys-nodes.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

adr-0049-run-ingress-nginx-in-chroot
  docs/adr/0049-run-ingress-nginx-in-chroot.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add Poppins SemiBold
  docs/stylesheets/branding.css
Due: none

Import new logo
  docs/img/logos/elastisys-logo-icon.svg
Due: svg-must-embed, svg-must-not-embed-PNG

Change landing page
  docs/index.md
  docs/stylesheets/style.css
  extra_sass/style.css.scss
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Change color to the new brandbook
  docs/stylesheets/branding.css
  docs/stylesheets/extra.css
  docs/stylesheets/style.css
  extra_sass/style.css.scss
Due: none

Make pre-commit happy
  docs/fonts/inter/OFL.txt
Due: none

Remove Poppins Bold
  docs/stylesheets/branding.css
Due: none

Adjust colors of code and "try me" button
  docs/stylesheets/branding.css
  docs/stylesheets/extra.css
Due: none

New marchitecture
  docs/img/marchitecture.svg
Due: svg-must-embed, svg-must-not-embed-PNG

Make pre-commit happy
  docs/img/marchitecture.svg
Due: svg-must-embed, svg-must-not-embed-PNG

New brandbook (#900)
  docs/fonts/Poppins-Medium.otf
  docs/fonts/Roboto-Regular.ttf
  docs/fonts/inter/Inter-VariableFont_slnt,wght.ttf
  docs/fonts/inter/OFL.txt
  docs/fonts/inter/README.txt
  docs/fonts/poppins/Poppins-Black.woff
  docs/fonts/poppins/Poppins-Black.woff2
  docs/fonts/poppins/Poppins-Bold.woff
  docs/fonts/poppins/Poppins-Bold.woff2
  docs/fonts/poppins/Poppins-ExtraBold.woff
  docs/fonts/poppins/Poppins-ExtraBold.woff2
  docs/fonts/poppins/Poppins-ExtraLight.woff
  docs/fonts/poppins/Poppins-ExtraLight.woff2
  docs/fonts/poppins/Poppins-Italic.woff
  docs/fonts/poppins/Poppins-Italic.woff2
  docs/fonts/poppins/Poppins-Light.woff
  docs/fonts/poppins/Poppins-Light.woff2
  docs/fonts/poppins/Poppins-Medium.woff
  docs/fonts/poppins/Poppins-Medium.woff2
  docs/fonts/poppins/Poppins-Regular.woff
  docs/fonts/poppins/Poppins-Regular.woff2
  docs/fonts/poppins/Poppins-SemiBold.woff
  docs/fonts/poppins/Poppins-SemiBold.woff2
  docs/fonts/poppins/Poppins-Thin.woff
  docs/fonts/poppins/Poppins-Thin.woff2
  docs/fonts/robotomono/LICENSE.txt
  docs/fonts/robotomono/README.txt
  docs/fonts/robotomono/RobotoMono-Italic-VariableFont_wght.ttf
  docs/fonts/robotomono/RobotoMono-VariableFont_wght.ttf
  docs/img/logos/elastisys-logo-icon.svg
  docs/img/marchitecture.svg
  docs/index.md
  docs/stylesheets/branding.css
  docs/stylesheets/extra.css
  docs/stylesheets/style.css
  extra_sass/style.css.scss
Due: svg-must-embed, svg-must-not-embed-PNG, use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add missing fonts
  docs/fonts/poppins/Poppins-BoldItalic.woff
  docs/fonts/poppins/Poppins-BoldItalic.woff2
Due: none

Fix URL
  docs/adr/0031-run-csi-cinder-controllerplugin-on-elastisys-nodes.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Ignore regexr, returns 403
  linkchecker.conf
Due: none

Quick fix 'Try' button
  docs/stylesheets/extra.css
Due: none

docs: Mention Grafana allowedDomains
  docs/user-guide/delegation.md
  docs/user-guide/metrics.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Also ignore regexr.com from anchorcheck
  linkchecker-with-anchorcheck.conf
Due: none

Commented out TBD section
  docs/user-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Fix after comments
  docs/user-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Please the pre-commit hook
  docs/user-guide/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Update workflows
  .github/workflows/checklinks.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  scripts/jsonschema2md.sh
Due: none

adr-0049-run-ingress-nginx-in-chroot (#898)
  docs/adr/0049-run-ingress-nginx-in-chroot.md
  docs/adr/index.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Revamped App Dev overview page (#871)
  docs/user-guide/index.md
  docs/user-guide/prepare.md
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Add release cycle
  ci/vale/styles/config/vocabularies/Elastisys/accept.txt
  docs/release-notes/index.md
  mkdocs.yml
Due: use-relative-urls, use-relative-urls-to-files, capitalize-common-names, avoid-absolute-urls-for-internal-links, avoid-old-urls, avoid-non-descriptive-link-text

Path conditions:
  svg-must-embed: any of: .*[.]svg$
  svg-must-not-embed-PNG: any of: .*[.]svg$, but not: (\.drawio|ideal-dx|ideal-promotion)\.svg$
  use-relative-urls: any of: .*[.]md$
  use-relative-urls-to-files: any of: .*[.]md$
  capitalize-common-names: any of: .*[.]md$
  avoid-absolute-urls-for-internal-links: any of: .*[.]md$
  avoid-old-urls: any of: .*[.]md$
  avoid-non-descriptive-link-text: any of: .*[.]md$
